@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

body{
}

.gambler{
  display: inline-block;
  vertical-align: top;
  width: 250px;
  border: 1px solid #111111;
  border-radius: 5px;
  margin: 20px;
  background-color: cadetblue;
}

.gambler .photo{
  position: relative;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: 1px solid #111111;
  margin-bottom: 10px;
}
